node_modules/
dist/
coverage/
*.tsbuildinfo

# logs
*.log

# env files
.env
.env.*
!.env.example

# editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# uploads written by examples and tests
uploads/
